/* Extra large devices (1200px and down) */

@media screen and (max-width: 1200px) {}


/* Large devices (992px and down) */

@media screen and (max-width: 992px) {
    .boobit-container,
    .boobit-box{
        padding: 30px;
    }
    #boobit-img{
        transform: scale(.7);
    }
}


/* Medium devices (768px and down) */

@media screen and (max-width: 768px) {
    #boobit-img{
        transform: scale(1);
    }
    .boobit-container{
        padding: 0;
        background-color: var(--white);
    }
    .boobit-box{
        padding: 10px;
    }
    h1 {
        font-size: calc(40px*.8);
    }
    
    h2 {
        font-size: calc(32px*.8);
    }
    .hoitwo-pera{
        padding: 15px;
    }
}


/* Small devices (576px and down) */

@media screen and (max-width: 576px) {
    h1 {
        font-size: calc(40px*.7);
    }
    
    h2 {
        font-size: calc(32px*.7);
    }
    .hero h1 {
        padding: 0px;
        margin-bottom: 20px;
    }
    .boobit-left{
        height: 455px;
        position: relative;
        bottom: 150px;
    }
    #boobit-img{
        transform: scale(0.65);
        position: relative;
       right: 70px;
       top: 70px;
    }
    .boobit-box{
        padding: 0px;
    }
    
    .th-btn{
        min-width: auto;
        padding: 10px 15px;
    }
    #apply-change{
        min-width: auto;
        margin-top: 0px;
        padding: 10px 15px;
    }
    .fo-box {
    flex-direction: column;
    }
    .fo-line {
        width: 100%;
        background-color: var(--white);
        height: 2px;
    }
    .hoitwo-img{
        width: 100% !important  ;
    }
    .th-btn{
        font-size: 16px;
    }
    .hoitwo-box{
        padding: 25px;
    }
}